<div id="<%= dom_id usuario %>">
  <p>
    <strong>Name:</strong>
    <%= usuario.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= usuario.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

</div>
